/** ############ Allgemein ############ **/

html body{
    background-image: linear-gradient(to right top, #6cacff, #61beff, #64ceff, #75ddff, #8debff);
}

/** ############ NAV-Banner ############ **/

.nav-banner{
    background-color: white;
    display: flex;
}

.nav-banner img{
    margin-left: 20px;
    margin-top: 10px;
}


/** ############ Nav-Menü ############ **/

.nav-img{
    transition: transform 0.6s;
}

.nav-img:hover{
    transition: 0.60s;
    transform: rotate(-15deg) scale(1.5);
}

/** ############ Siedebar / Offcanvas ############ **/

.offcanvas-body h3{
    margin-bottom: 25px
}

.offcanvas-body h5{
    margin: 25px 0px;
}


.offcanvas-body button{
    margin-bottom: 25px;
}

/** ############ Body Wrapper ############ **/

.container{
    margin-top: 25px;
}

/** ############ Span ############ **/

span{
    color: #dc3545;
    font-weight: bold;
}


/** ############ Eingabefelder ############ **/

input:out-of-range {
    background-color: rgba(220, 53, 69, 0.25);
    border: 2px solid #dc3545;
}

/** ############ Toast ############ **/

.toast{
    position: absolute;
    top: 175px;
    right: 15px;

}

/** ############ Sidebar - Support ############ **/

.sidebar-support{
    align-items: flex-end;
}